# Xcode
.DS_Store
*/.DS_Store
*.xcuserstate
xcuserdata/
Custom-Video-Player.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Custom-Video-Player.xcodeproj/project.pbxproj
*.xcworkspace
Podfile.lock

# Build artifacts
build/
DerivedData/
*.build/

# Dependencies
Pods/
*.xcworkspace/contents.xcworkspacedata
*.xccheckout
Packages/
Package.pins
Package.resolved

# Sensitive data
*.xcconfig
*.pem
*.cer
*.mobileprovision
.env
.env.*

#lintErr
lintErr.txt

Gemfile.lock